.intro{
    text-align: center;
    font-style: italic;
}

.title-left{
    color: black;
    font-weight: bold;
    padding-top: 50px;
}

.title-left-2{
    color: black;
    font-weight: bold;
}

.col-title{
    text-align: center;
}

.content-right{
    text-align: justify;
}

.img {
    width: 100%;
    max-width: 850px;
    height: 400px;
    justify-content: center;
}

a.information{
    color: rgb(243, 17, 17);
}
a.information:hover{
    color: blue;
}