.intro{
    text-align: center;
    font-style: italic;
}

.title-left{
    color: black;
    font-weight: bold;
    padding-top: 50px;
}

.title-left-2{
    color: black;
    font-weight: bold;
}

.col-title{
    text-align: center;
}

.content-right{
    text-align: justify;
}
.row{
    margin: 30px;
}